body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #333;
    height: 100vh;
}

.game-area {
    width: 700px;
    height: 500px;
    background-color: white;
    position: relative;
}

.scoring {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
}

.scores{
    width:300px;
    height:400px;
    text-align: center;
    font-size: 40px;
}

.playerScore{
    border-right: 2px solid black;
}

.ball {
    background-color: green;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.paddle {
    width: 20px;
    height: 100px;
    top: 100px;
    position: absolute;
    background-color: black;
}

.player-paddle {
    left: 0;
}

.computer-paddle {
    right: 0;
}

